In [18]:
import pandas as pd

df = pd.read_csv("gapminder.tsv", sep="\t")
print(df)

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

In [19]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [20]:
print(df.shape)

(1704, 6)

In [24]:
print(df.columns)
for index, column in enumerate(df.columns, 1):
    print(index, column)

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')
1 country
2 continent
3 year
4 lifeExp
5 pop
6 gdpPercap

In [25]:
print(df.dtypes)

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [30]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [32]:
print(df.head())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [34]:
print(df['country'].head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [35]:
print(df['country'].tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [45]:
print(df[['country', 'continent', 'pop']].head())

       country continent       pop
0  Afghanistan      Asia   8425333
1  Afghanistan      Asia   9240934
2  Afghanistan      Asia  10267083
3  Afghanistan      Asia  11537966
4  Afghanistan      Asia  13079460

In [46]:
print(df[['country', 'continent', 'pop']][10:20])

        country continent       pop
10  Afghanistan      Asia  25268405
11  Afghanistan      Asia  31889923
12      Albania    Europe   1282697
13      Albania    Europe   1476505
14      Albania    Europe   1728137
15      Albania    Europe   1984060
16      Albania    Europe   2263554
17      Albania    Europe   2509048
18      Albania    Europe   2780097
19      Albania    Europe   3075321

In [51]:
# subset the df based on the column name

country_subset = df['country']
for index, csub in enumerate(country_subset[10:20], 10):
    print(index, csub)

10 Afghanistan
11 Afghanistan
12 Albania
13 Albania
14 Albania
15 Albania
16 Albania
17 Albania
18 Albania
19 Albania

In [57]:
country_subset = df['country'][30:35]
print(country_subset)
print(type(country_subset))

30    Algeria
31    Algeria
32    Algeria
33    Algeria
34    Algeria
Name: country, dtype: object
<class 'pandas.core.series.Series'>

In [59]:
country_subset = df[['country', 'pop']][30:35]
print(country_subset)
print(type(country_subset))

    country       pop
30  Algeria  20033753
31  Algeria  23254956
32  Algeria  26298373
33  Algeria  29072015
34  Algeria  31287142
<class 'pandas.core.frame.DataFrame'>